.root {  
     -fx-background-image: url("/presentation/chart/panebackground.jpg");  
}  

.chart{
	-fx-background-color:transparent;
	-fx-padding: 0px;
}
.chart-content {
    -fx-padding: 0px; 
}
.chart-title {
  -fx-text-fill: #cde6c7;
  -fx-font-size: 1.6em;
} 
.axis-label {
  -fx-background-color:transparent;
  -fx-text-fill: #65c294;
}
.chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 0px;
} 
.chart-legend-item-symbol{
   -fx-background-radius: 3;
}
.chart-legend-item{
    -fx-text-fill: #90d7ec;
    -fx-font-size: 1em;
}

.chart-series-line{
	-fx-stroke-width: 1.5px;
	-fx-effect: null;
}

.chart-plot-background {
	-fx-background-color: transparent;
}

.axis {
    -fx-tick-label-fill: #feeeed ;
    -fx-font-family: Tahoma;
    -fx-tick-label-font-size: 11px;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
}

.default-color0.chart-series-line { -fx-stroke: white; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: purple; }
.default-color3.chart-series-line { -fx-stroke: green; }
.default-color4.chart-series-line { -fx-stroke: blue; }

.default-color0.chart-legend-item-symbol { -fx-background-color: white; }
.default-color1.chart-legend-item-symbol { -fx-background-color: yellow; }
.default-color0.chart-legend-item-symbol { -fx-background-color: purple; }
.default-color1.chart-legend-item-symbol { -fx-background-color: green; }
.default-color0.chart-legend-item-symbol { -fx-background-color: blue; }

