.label{
	-fx-background-radius: 10;
	-fx-background-color: #1d1626;
	-fx-font-family: "Arial";
	-fx-font-size:11;
    -fx-text-fill: #90d7ec;
    
    -fx-border-width: 2;
	-fx-border-color: #130c0e;
	
	-fx-opacity: 1;
}