.root {  
     -fx-background-image: url("/presentation/chart/panebackground.jpg");  
}  

.chart{
	-fx-background-color:transparent;
	-fx-padding: 0px;
}
.chart-content {
    -fx-padding: 0px; 
}
.chart-plot-background {
	-fx-background-color: transparent;
}

.chart-title {
  	-fx-text-fill: #cde6c7;
 	 -fx-font-size: 1.6em;
} 

.label{
	-fx-font-size: 11;
}

.axis-label {
 	-fx-background-color:transparent;
  	-fx-text-fill: #65c294;
}
.chart-legend {
	-fx-background-color: transparent;
	-fx-padding: 0px;
} 

.chart-legend-item-symbol{
   -fx-background-radius: 3;
}
.chart-legend-item{
    -fx-text-fill: #90d7ec;
    -fx-font-size: 1.2em;
}

.chart-series-line{
	-fx-stroke-width: 1.5px;
	-fx-effect: null;
}

.axis {
    -fx-tick-label-fill: #feeeed ;
    -fx-font-family: Tahoma;
    -fx-tick-label-font-size: 11px;
    -fx-tick-length: 5;
    -fx-minor-tick-length: 5;
}

.default-color0.chart-series-line { -fx-stroke: #f0e68c; }
.default-color1.chart-series-line { -fx-stroke: #0080ff; }

.default-color0.chart-legend-item-symbol { -fx-background-color: #f0e68c; }
.default-color1.chart-legend-item-symbol { -fx-background-color: #0080ff; }

