.root {  
     -fx-background-image: url("/presentation/chart/panebackground.jpg");  
}  

.label{
	-fx-background-radius: 10;
	-fx-background-color: transparent;
	-fx-font-family: "Arial";
	-fx-font-size:12;
    -fx-text-alignment: center;
	
	-fx-opacity: 1;
}
.label-1{
    -fx-text-fill: #f15a22;
}
.label-2{
    -fx-text-fill: #ffd400;
}
.label-3{
    -fx-text-fill: #00ae9d;
}
.label-4{
    -fx-text-fill: #fffef9;
}
.label-5{
    -fx-text-fill: #ed1941;
}
.label-6{
    -fx-text-fill: #ed1941;
}


.chart{
	-fx-background-color:transparent;
	-fx-padding: 0px;
}
.chart-content {
    -fx-padding: 0px; 
}
.chart-plot-background {
	-fx-background-color: transparent;
}

.chart-title {
  	-fx-text-fill: #cde6c7;
 	 -fx-font-size: 1.6em;
} 
.axis-label {
 	-fx-background-color:transparent;
  	-fx-text-fill: #65c294;
}
.chart-legend {
	-fx-background-color: transparent;
	-fx-padding: 0px;
} 

.chart-legend-item-symbol{
   -fx-background-radius: 3;
}
.chart-legend-item{
    -fx-text-fill: #90d7ec;
    -fx-font-size: 1.2em;
}

.chart-series-line{
	-fx-stroke-width: 1.5px;
	-fx-effect: null;
}

.axis {
	-fx-background-color: transparent;
    -fx-tick-label-fill: #feeeed ;
    -fx-font-family: Tahoma;
    -fx-tick-label-font-size: 11px;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
}
.default-color0.chart-series-line { -fx-stroke: #0080ff; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }

.default-color0.chart-legend-item-symbol { -fx-background-color: #0080ff; }
.default-color1.chart-legend-item-symbol { -fx-background-color: #f0e68c; }

