<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<servlet>
    <servlet-name>UserloginServlet</servlet-name>
    <servlet-class>servlet.UserloginServlet</servlet-class>
</servlet>
    
    <servlet-mapping>
        <servlet-name>UserloginServlet</servlet-name>
        <url-pattern>/servlet/UserloginServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>




</web-app>